body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

input, button {
    margin: 10px;
    padding: 10px;
}

#events {
    margin-top: 20px;
}

#map {
    width: 100%;
<<<<<<< HEAD
    height: 500px;
    margin-top: 20px;
    border: 2px solid #333;
    border-radius: 10px;
=======
    height: 400px;
    margin-top: 20px;
>>>>>>> 0223981 (Updated event API server)
}
